/*Clear previous formatting to allow for granular control and set a background for the page.*/
*{
    padding: 0px;
    margin: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
}

header{
  display: flex;
  margin: 1%;
  padding: 1%;
  width: 100%;
}

#leaderLink{
    width: 90%;
    padding: 2%;
}

#timer{
    display: flex;
    padding-right: 10%;
    padding-left: 1%;
    margin: auto;
}

#timer p, #startTime{
    margin: 5%
}

p{
    font-size: 40px;
}

#welcomePage{
    margin: 3%;
}

h2{
    font-size: 50px;
    margin: auto;
    text-align: center;
    margin: 3%;
    width: 100%;
}

#welcomePage p{
    font-size: 25px;
    margin: 3%;
}

#startButton{
    margin: 3%;
    border: 2%;
    position: relative;
    font-size: 30px;
    width:max-content;
    text-align: center;
    margin: auto;
}


#questionBox, #highScore{
    margin: 3%;
    width: 100%;
}

#buttonOptions{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin: 3%;
    border: 3%;
    justify-content: center;
}

#backToQuiz, #clearLeaderBoard, #submit{
    margin: 3%;
    padding: 1%;
    font-size: 30px;
    width:max-content;
}

#question, #topScores, #resultText, #quizCompleted{
    text-align: center;
    font-size: 50px;
    padding-right: 7%;
}

#responses li{
    font-size: 35px;
    padding: 2%;
    list-style-type: none;
}

#enterHighScore{
   display: flex;
   flex-direction: row;
   align-items: center;
   box-sizing: border-box;
}

.submitButton{
    font-size: 30px;
}

#questionBox, #highScore{
    display: none;
}

footer{
    text-align: center;
    font-size: 50px;
    padding-right: auto;
}