/*Clear previous formatting to allow for granular control and set a background for the page.*/
*{
    padding: 0px;
    margin: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
}

header{
  display: flex;
  margin: 1%;
  padding: 1%;
  width: 100%;
}

#leaderLink{
    width: 90%;
    padding: 2%;
}

#timer{
    display: flex;
    padding-right: 10%;
    padding-left: 1%;
    margin: auto;
}

#timer p, #startTime{
    margin: 5%
}

p{
    font-size: 40px;
}

#welcomePage{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 3%;
}

h2{
    font-size: 50px;
    margin: auto;
    text-align: center;
    margin: 3%;
    width: 100%;
}

#welcomePage p{
    display: block;
    width: 100%;
    font-size: 25px;
    margin: 7%;
}

#startButton{
    margin: 37%;
    border: 2%;
    position: relative;
    font-size: 30px;
    width:max-content;
    text-align: center;
    justify-content: center;
    margin: auto;
}


#questionBox, #highScore{
    margin: auto;
    width: 100%;    
}


#responses li, .leaders{
    font-size: 35px;
    padding: 2%;
    list-style-type: none;
}

#buttonOptions{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin: 3%;
    border: 3%;
    justify-content: center;
}

#backToQuiz, #clearLeaderBoard, #submit{
    margin: 3%;
    padding: 1%;
    font-size: 30px;
    width:max-content;
}

#question, #topScores, #resultText, #quizCompleted{
    text-align: center;
    font-size: 50px;
}

#quizCompleted{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100%;
    padding-right: 15%;
}

#enterHighScore{
    display: block;
    box-sizing: border-box;
    width: fit-content;
}

.submitButton{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    margin: 0.5%;
    padding: 2%;
    
}

#questionBox, #highScore, #quizCompleted{
    display: none;
}

footer p{
    display: flex;
    text-align: center;
    font-size: 10px;
    justify-content: center;
    align-items: center;
}